{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h2>Add new ingredients : </h2>
        <div class="container mt-2">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
